# install bigquery library

In [1]:
#!pip install --upgrade google-cloud-bigquery

from google.cloud import bigquery

# authenticate service account with environment variable

Innan man gör detta så behöva man skapa ett service account > ladda ned en key (json-fil)

In [2]:
import os

In [3]:
path = os.getcwd() + "\\" + os.listdir()[1]

In [4]:
path

'C:\\Users\\nilss\\000_bq\\bq-client-test-221b68a7397b.json'

In [5]:
import os
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = path

# initialize client

In [6]:
client = bigquery.Client()

# put query results in pandas df | public dataset

https://googleapis.dev/python/bigquery/latest/usage/pandas.html

In [10]:
# from google.cloud import bigquery
# client = bigquery.Client()

sql = """
    SELECT *
    FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`
"""

df = client.query(sql).to_dataframe()

In [11]:
df.head()

,station_id,name,status,address,alternate_name,city_asset_number,property_type,number_of_docks,power_type,footprint_length,footprint_width,notes,council_district,modified_date
0,2576,Rainey @ River St,closed,64 Rainey St,None,NaN,None,NaN,None,NaN,NaN,None,9,2021-01-04 12:00:00+00:00
1,2712,Toomey Rd @ South Lamar,closed,1301 Toomey Road,None,NaN,None,NaN,None,NaN,NaN,None,5,2021-01-04 12:00:00+00:00
2,3381,East 7th & Pleasant Valley,closed,2772 E 7th,None,NaN,None,NaN,None,NaN,NaN,None,3,2021-01-04 12:00:00+00:00
3,3464,Pease Park,closed,1155 Kingsbury St,None,NaN,None,NaN,None,NaN,NaN,None,9,2021-01-04 12:00:00+00:00
4,1001,OFFICE/Main/Shop/Repair,active,1000 Brazos,None,NaN,None,NaN,None,NaN,NaN,None,1,2021-01-04 12:00:00+00:00

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   station_id         101 non-null    int64
 1   name               101 non-null    object
 2   status             101 non-null    object
 3   address            101 non-null    object
 4   alternate_name     2 non-null      object
 5   city_asset_number  77 non-null     float64
 6   property_type      81 non-null     object
 7   number_of_docks    80 non-null     float64
 8   power_type         81 non-null     object
 9   footprint_length   77 non-null     float64
 10  footprint_width    77 non-null     float64
 11  notes              29 non-null     object
 12  council_district   101 non-null    int64
 13  modified_date      101 non-null    datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(4), int64(2), object(7)
memory usage: 11.2+ KB

# private dataset

In [13]:
# from google.cloud import bigquery
# client = bigquery.Client()

sql = """
    SELECT *
    FROM `food_delivery.orders`
"""

df = client.query(sql).to_dataframe()

In [14]:
df

       order_date  user_id  order_id  meal_id  order_quantity
0      2020-06-01       11        11        0               1
1      2020-06-02       18        19        0               1
2      2020-06-03       20        21        0               1
3      2020-06-05       40        47        0               1
4      2020-06-07       23        59        0               1
...           ...      ...       ...      ...             ...
28425  2020-12-30      856     11278       18               3
28426  2020-12-30     1116     11314       18               3
28427  2020-12-30     1219     11330       18               3
28428  2020-12-30     1219     11331       18               3
28429  2020-12-30     1252     11339       18               3

[28430 rows x 5 columns]